doctype strict
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dendro
  body
    div(id='app')
    script.
      window.CLIENT_CONFIG = !{config};
    script(src='client/main.js')
